#
#  direnv config
#
#  https://direnv.net/
#  https://github.com/direnv/direnv/wiki
#  https://github.com/nix-community/nix-direnv
#

#use nix
#use flake

layout_uv() {
  if [[ ! -d .venv ]]; then
    uv venv
  fi
  source .venv/bin/activate
  watch_file pyproject.toml
  uv sync
}
layout uv
export PYTHONPATH=$PYTHONPATH:$(pwd)/src:$(pwd)/src/lib
